<%= render 'layouts/header' %>

<div class='container'>
  <div class='row g-3 my-3'>
      <h4>家賃</h4>
      <div class='d-flex mb-3'>
        <div class='col-md-6 px-2'>
          <h5>今月</h5>
          <canvas id="monthChart"></canvas>
        </div>
        <div class='col-md-6 px-2'>
          <h5>累計</h5>
          <canvas id="allChart"></canvas>
        </div>
      </div>
      <h4>稼働状況</h4>
      <div class='d-flex'>
        <div class='col-md-6 px-2'>
          <h5>今月</h5>
          <canvas id="vacancyChart"></canvas>
        </div>
        <div class='col-md-6 px-2'>
          <h5>累計</h5>
          <canvas id="vacancyChart"></canvas>
        </div>
      </div>
    </div>
  </div>