.logout-block a {
  color: #fff;
}

.logout-block a:hover {
  color: #dc3545;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}